body {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  background-color: #f5efe7;
}
* {
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}
.nav1 {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.nav2 {
  gap: 2rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.nav2 i {
  transition: 0.2s;
}
.nav2 i:hover {
  font-size: 25px !important;
  color: black !important;
  cursor: pointer;
}
.links {
  margin-top: 10px;
}
.links a {
  font-family: Silkscreen;
  word-wrap: break-word;
  color: #6f6f6f;
  transition: 0.5s;
}
.links a:hover {
  font-size: 14px;
  color: black;
}
.nav1 img {
  margin-top: 1em;
  width: 120px;
  height: 45px;
}
.links ul {
  gap: 2rem;
  display: flex;
  list-style-type: none;
}
.links ul li a {
  font-size: small;
  font-weight: lighter;
  text-decoration: none;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.main-text {
  padding: 0px;
}
.main-text p {
  margin: 50px;
  margin-top: 100px;
  font-size: 100px;
  line-height: 0px;
  word-wrap: break-word;
  transition: 0.5s;
}
.main-desc {
  width: 45vw;
}
.main-desc h6 {
  font-size: 10px;
  line-height: 25px;
  font-family: silkscreen;
  font-weight: 100;
  word-wrap: break-word;
  color: #6f6f6f;
  transition: 0.5s;
  text-align: center;
}
.circle-container {
  display: flex;
  justify-content: space-between;
  width: 70%; /* Increase the width to 70% */
  margin: 0 auto;
  margin-top: 80px;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.circle-image {
  width: 180px; /* Increase the size of circles */
  height: 180px; /* Increase the size of circles */
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
  overflow: hidden;
}

.circle-text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

.circle-description {
  font-size: 12px;
  color: #666;
}
.large {
  transform: scale(1.7); /* Scale the middle circle to '2' */
}
@media (max-width: 768px) {
  .nav1 img {
    width: 100px;
    height: 35px;
  }

  .main-text p {
    font-size: 60px;
    margin-top: 70px;
  }

  .main-desc h6 {
    font-size: 8px;
    line-height: 20px;
  }

  .circle-container {
    width: 80%;
  }

  .circle-image {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 480px) {
  .nav1 img {
    width: 80px;
    height: 30px;
  }

  .main-text p {
    font-size: 40px;
    margin-top: 60px;
  }

  .main-desc h6 {
    font-size: 6px;
    line-height: 15px;
  }

  .circle-container {
    width: 90%;
  }

  .circle-image {
    width: 100px;
    height: 100px;
  }
}
